version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: nestjs_db
    ports:
      - '5433:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  redis:
    image: redis:7-alpine
    container_name: redis_cache
    restart: always
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    networks:
      - app-network

  api:
    build: .
    container_name: nest_api
    restart: always
    depends_on:
      - postgres
      - redis
    environment:
      # Dentro de la red docker el host de Postgres es el nombre del servicio: postgres
      DATABASE_URL: postgresql://admin:admin123@postgres:5432/nestjs_db?schema=app
      REDIS_HOST: redis
      REDIS_PORT: 6379
      JWT_SECRET: secretKey
      NODE_ENV: production
      PORT: 3000
    volumes:
      - uploads_data:/usr/src/app/uploads
    ports:
      - '3000:3000'
    networks:
      - app-network

volumes:
  postgres_data:
  redis_data:
  uploads_data:

networks:
  app-network:
    driver: bridge
